<section>
    <div class="container">
        <table class="table mt-5">
  <thead>
    <tr>
      <th scope="col">No</th>
       <th scope="col">Photo</th>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">Religion</th>
      <th scope="col">Profession</th>
      <th scope="col">Place</th>
    </tr>
  </thead>
  <tbody>
    {{#each profiles}}
    <tr>     
      <th scope="row">{{@index}}</th>
      <td><img style="width: 50px; height: 50px;" src="/profile-images/{{this._id}}.jpg" alt=""></td>
      <td>{{this.Name}}</td>
      <td>{{this.age}}</td>
      <td>{{this.religion}}</td>
       <td>{{this.job}}</td>
      <td>{{this.location}}</td>
      
    </tr>
    {{/each}}
    
  </tbody>
</table>
    </div>
</section>