<section>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-center">Edit Profile</h2>
                <form action="/edit-profile/{{profile._id}}" method="post" enctype="multipart/form-data">

                    <label for="">Image 1 </label>
                    <img src="/profile-images/{{profile._id}}1.jpg" style="width:100px; height:auto" id="imgView1" class="pt-3">
                    <input type="file" class="form-control" name="image1" onchange="viewImage1(event)">

                    <label for="">Image 2 </label>
                    <img src="/profile-images/{{profile._id}}2.jpg" style="width:100px; height:auto" id="imgView2" class="pt-3">
                    <input type="file" class="form-control" name="image2" onchange="viewImage2(event)">

                    <label for="">Image 3 </label>
                    <img src="/profile-images/{{profile._id}}3.jpg" style="width:100px; height:auto" id="imgView3" class="pt-3">
                    <input type="file" class="form-control" name="image3" onchange="viewImage3(event)">

                    <label for="">Name</label>
                    <input type="text" name="Name" class="form-control" value="{{profile.Name}}">

                     <label for="">Age</label>
                    <input type="number" name="age" class="form-control" value="{{profile.age}}">

                     <label for="">Gender</label>
                    <input type="text" name="gender" class="form-control" value="{{profile.gender}}">

                     <label for="">Date Of Birth</label>
                    <input type="date" name="DOB" class="form-control" value="{{profile.DOB}}">

                     <label for="">Height</label>
                    <input type="number" step="any" name="height" class="form-control" value="{{profile.height}}">

                     <label for="">Weight</label>
                    <input type="number" name="weight" class="form-control" value="{{profile.weight}}">

                     <label for="">Complexion</label>
                    <input type="text" name="complexion" class="form-control" value="{{profile.complexion}}">

                     <label for="">Physical Status</label>
                    <input type="text" name="physical" class="form-control" value="{{profile.physical}}">

                     <label for="">Mother Tongue</label>
                    <input type="text" name="language" class="form-control" value="{{profile.language}}">

                     <label for="">Location</label>
                    <input type="text" name="location" class="form-control" value="{{profile.location}}">

                     <label for="">Marital Status</label>
                    <input type="text" name="marital" class="form-control" value="{{profile.marital}}">

                     <label for="">Diet</label>
                    <input type="text" name="diet" class="form-control" value="{{profile.diet}}">

                     <label for="">Religion</label>
                    <input type="text" name="religion" class="form-control" value="{{profile.religion}}">

                     <label for="">Caste</label>
                    <input type="text" name="caste" class="form-control" value="{{profile.caste}}">

                     <label for="">Education</label>
                    <input type="text" name="Education" class="form-control" value="{{profile.Education}}">

                     <label for="">Job</label>
                    <input type="text" name="job" class="form-control" value="{{profile.job}}">

                     <label for="">Mobile Number</label>
                    <input type="number" name="mobile" class="form-control" value="{{profile.mobile}}">

                    <label for="">Email</label>
                    <input type="email" name="email" class="form-control" value="{{profile.email}}">
                    <br><br>

                    <h2 class="text-center col-md-12">Partner Preference</h2>

                    <label for="">Age</label>
                    <input type="number" name="ffage" class="form-control" value="{{profile.ffage}}">

                    <label for="">Height</label>
                    <input type="number" step="any" name="ffheight" class="form-control" value="{{profile.ffheight}}">

                     <label for="">Religion</label>
                    <input type="text" name="ffreligion" class="form-control" value="{{profile.ffreligion}}">

                     <label for="">Caste</label>
                    <input type="text" name="ffcaste" class="form-control" value="{{profile.ffcaste}}">

                    <label for="">Complexion</label>
                    <input type="text" name="ffcomplexion" class="form-control" value="{{profile.ffcomplexion}}">

                    <label for="">Mother Tongue</label>
                    <input type="text" name="fflanguage" class="form-control" value="{{profile.fflanguage}}">

                    <label for="">Diet</label>
                    <input type="text" name="ffdiet" class="form-control" value="{{profile.ffdiet}}">

                    <label for="">Education</label>
                    <input type="text" name="ffEducation" class="form-control" value="{{profile.ffEducation}}">

                     <label for="">Job</label>
                    <input type="text" name="ffjob" class="form-control" value="{{profile.ffjob}}">

                     <label for="">Location</label>
                    <input type="text" name="fflocation" class="form-control" value="{{profile.fflocation}}">

                    <label for="">Marital Status</label>
                    <input type="text" name="ffmarital" class="form-control" value="{{profile.ffmarital}}">

                    <label for="">Physical Status</label>
                    <input type="text" name="ffphysical" class="form-control" value="{{profile.ffphysical}}">

                    <button type="submit" class="btn btn-success mt-4">Submit</button>
                    <br><br><br><br>

                </form>
            </div>
        </div>
    </div>
</section>

<script>
    function viewImage1(event){
        document.getElementById('imgView1').src= URL.createObjectURL(event.target.files[0])
    }

     function viewImage2(event){
        document.getElementById('imgView2').src= URL.createObjectURL(event.target.files[0])
    }

     function viewImage3(event){
        document.getElementById('imgView3').src= URL.createObjectURL(event.target.files[0])
    }
</script>