<section>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-center">Edit Profile</h2>
                <form action="/edit-profile/{{profile._id}}" method="post" enctype="multipart/form-data">

                    <label for="">Image 1 </label>
                    <img src="/profile-images/{{profile._id}}1.jpg" style="width:100px; height:auto" id="imgView1" class="pt-3">
                    <input type="file" class="form-control" name="image1" onchange="viewImage1(event)">

                    <label for="">Image 2 </label>
                    <img src="/profile-images/{{profile._id}}2.jpg" style="width:100px; height:auto" id="imgView2" class="pt-3">
                    <input type="file" class="form-control" name="image2" onchange="viewImage2(event)">

                    <label for="">Image 3 </label>
                    <img src="/profile-images/{{profile._id}}3.jpg" style="width:100px; height:auto" id="imgView3" class="pt-3">
                    <input type="file" class="form-control" name="image3" onchange="viewImage3(event)">

                    <label for="">Name</label>
                    <input type="text" name="Name" class="form-control" value="{{profile.Name}}">

                    <label for="">Age</label>
                    <input type="number" name="age" class="form-control" value="{{profile.age}}">

                    <label for="">Gender</label>
                    <select type="text" name="gender" class="form-control">
                        <option style="display:none;" value="{{profile.gender}}">{{profile.gender}}</option>
                        <option value=">Male">Male</option>
                        <option value="Female">Female</option>
                    </select>

                    <label for="">Date Of Birth</label>
                    <input type="date" name="DOB" class="form-control" value="{{profile.DOB}}">

                    <label for="">Height</label>
                    <input type="number" step="any" name="height" class="form-control" value="{{profile.height}}">

                    <label for="">Weight</label>
                    <input type="number" name="weight" class="form-control" value="{{profile.weight}}">

                    <label for="">Complexion</label>
                    <select type="text" name="complexion" class="form-control">
                        <option style="display:none;" value="{{profile.complexion}}">{{profile.complexion}}</option>
                        <option value="Very Fair">Very Fair</option>
                        <option value="Fair">Fair</option>
                        <option value="Medium">Medium</option>
                        <option value="Wheatish">Wheatish</option>
                        <option value="Dark">Dark</option>
                    </select>

                    <label for="">Physical Status</label>
                    <select type="text" name="physical" class="form-control">
                        <option style="display:none;" value="{{profile.physical}}">{{profile.physical}}</option>
                        <option value="Normal">Normal</option>
                        <option value="Disabled">Disabled</option>
                    </select>

                    <label for="">Mother Tongue</label>
                    <select type="text" name="language" class="form-control">
                        <option style="display:none;" value="{{profile.language}}">{{profile.language}}</option>
                        <option value="Malayalam">Malayalam</option>
                        <option value="English">English</option>
                        <option value="Hindi">Hindi</option>
                        <option value="Tamil">Tamil</option>
                        <option value="Kannada">Kannada</option>
                        <option value="Telugu">Telugu</option>
                    </select>

                    <label for="">Location</label>
                    <select type="text" name="location" class="form-control">
                        <option style="display:none;" value="{{profile.location}}">{{profile.location}}</option>
                        <option value="Calicut">Calicut</option>
                        <option value="Thrissur">Thrissur</option>
                        <option value="Cochin">Cochin</option>
                        <option value="Trivandrum">Trivandrum</option>
                        <option value="Kottayam">Kottayam</option>
                        <option value="Wayanad">Wayanad</option>
                        <option value="Mumbai">Mumbai</option>
                        <option value="Culcutta">Culcutta</option>
                        <option value="Delhi">Delhi</option>
                        <option value="Bangalore">Bangalore</option>
                        <option value="Hyderabad">Hyderabad</option>
                        <option value="Dubai">Dubai</option>
                        <option value="UK">UK</option>
                        <option value="USA">USA</option>
                        <option value="Canada">Canada</option>
                        <option value="Austaralia">Austaralia</option>   
                    </select>


                    <label for="">Marital Status</label>
                    <select type="text" name="marital" class="form-control">
                        <option style="display:none;" value="{{profile.marital}}">{{profile.marital}}</option>
                        <option value="Unmarried">Unmarried</option>
                        <option value="Divorced">Divorced</option>
                        <option value="Seperated">Seperated</option>
                        <option value="Widow">Widow</option>  
                    </select>

                    <label for="">Diet</label>
                    <select type="text" name="diet" class="form-control">
                        <option style="display:none;" value="{{profile.diet}}">{{profile.diet}}</option>
                        <option value="Vegetarian">Vegetarian</option>
                        <option value="Non-Vegetarian">Non-Vegetarian</option>
                        <option value="Eggetarian">Eggetarian</option>
                        <option value="Vegan">Vegan</option>
                    </select>

                    <label for="">Religion</label>
                    <select type="text" name="religion" class="form-control">
                        <option style="display:none;" value="{{profile.religion}}">{{profile.religion}}</option>
                        <option value="Christian">Christian</option>
                        <option value="Hindu">Hindu</option>
                        <option value="Muslim">Muslim</option>
                        <option value="Atheist">Atheist</option>
                        <option value="Other">Other</option>
                    </select>

                     <label for="">Caste</label>
                    <select type="text" name="caste" class="form-control">
                        <option style="display:none;" value="{{profile.caste}}">{{profile.caste}}</option>
                        <option value="Jacobite">Jacobite</option>
                        <option value="Orthodox">Orthodox</option>
                        <option value="CSI">CSI</option>
                        <option value="Catholic">Catholic</option>
                        <option value="Nair">Nair</option>
                        <option value="Menon">Menon</option>
                        <option value="Ezhava">Ezhava</option>
                        <option value="Brahmin">Brahmin</option>      
                    </select>

                     <label for="">Education</label>
                    <select type="text" name="Education" class="form-control">
                        <option style="display:none;" value="{{profile.Education}}">{{profile.Education}}</option>
                        <option value="B.Tech">B.Tech</option>
                        <option value="M.Tech">M.Tech</option>
                        <option value="LLB">LLB</option>
                        <option value="LLM">LLM</option>
                        <option value="MBBS">MBBS</option>
                        <option value="MD">MD</option>
                        <option value="BDS">BDS</option>
                        <option value="MDS">MDS</option>
                        <option value="MCA">MCA</option>
                        <option value="B.Arch">B.Arch</option>
                        <option value="Phd">Phd</option>
                        <option value="B.pharm">B.pharm</option>
                        <option value="MSW">MSW</option>
                        <option value="B.com">B.com</option>
                        <option value="BA">BA</option>
                        <option value="BHMS">BHMS</option>   
                    </select>

                     <label for="">Job</label>
                    <select type="text" name="job" class="form-control">
                        <option style="display:none;" value="{{profile.job}}">{{profile.job}}</option>
                        <option value="Chartered Accountant">Chartered Accountant</option>
                        <option value="Banking Professional">Banking Professional</option>
                        <option value="Business">Business</option>
                        <option value="Professor">Professor</option>
                        <option value="Scientist">Scientist</option>
                        <option value="Teacher">Teacher</option>
                        <option value="Pilot">Pilot</option>
                        <option value="Engineer">Engineer</option>
                        <option value="Lawyer">Lawyer</option>
                        <option value="Police">Police</option>
                        <option value="Dentist">Dentist</option>
                        <option value="Doctor">Doctor</option>
                        <option value="Journalist">Journalist</option>
                        <option value="Fashion Designer">Fashion Designer</option>
                        <option value="Data Analyst">Data Analyst</option>
                        <option value="Not Working">Not Working</option>   
                    </select>

                     <label for="">Mobile Number</label>
                    <input type="number" name="mobile" class="form-control" value="{{profile.mobile}}">

                    <label for="">Email</label>
                    <input type="email" name="email" class="form-control" value="{{profile.email}}">
                    <br><br>

                    <h2 class="text-center col-md-12">Partner Preference</h2>

                    
                    <label for="">Age</label>
                     <div class="row">
                     <div class="col">
                    <input type="number" class="form-control"  name="ffage1" value="{{profile.ffage1}}">
                    </div>
                    <div class="col">
                    <input type="number" class="form-control"  name="ffage2" value="{{profile.ffage2}}">
                    </div>
                    </div>
                    <br>
                    

                    <label for="">Height</label>
                    <div class="row">
                    <div class="col">
                    <input type="number" class="form-control" step="any" value="{{profile.ffheight1}}" name="ffheight1">
                    </div>
                    <div class="col">
                    <input type="number" class="form-control" step="any" value="{{profile.ffheight2}}" name="ffheight2">
                    </div>
                    </div>
                    <br>

                     <label for="">Religion</label>
                    <select type="text" name="ffreligion" class="form-control" >
                        <option style="display:none;" value="{{profile.ffreligion}}">{{profile.ffreligion}}</option>
                        <option value="Christian" >Christian</option>
                        <option value="Hindu" >Hindu</option>
                        <option value="Muslim" >Muslim</option>
                        <option value="Atheist" >Atheist</option>
                        <option value="Other" >Other</option>
                         <option value="Any">Any</option>
                    </select>

                    <label for="">Caste</label>
                    <select type="text" name="ffcaste" class="form-control">
                        <option style="display:none;" value="{{profile.ffcaste}}">{{profile.ffcaste}}</option>
                        <option value="Jacobite">Jacobite</option>
                        <option value="Orthodox">Orthodox</option>
                        <option value="CSI">CSI</option>
                        <option value="Catholic">Catholic</option>
                        <option value="Nair">Nair</option>
                        <option value="Menon">Menon</option>
                        <option value="Ezhava">Ezhava</option>
                        <option value="Brahmin">Brahmin</option>
                        <option value="Nil">Nil</option> 
                        <option value="Any">Any</option>     
                    </select>

                    <label for="">Complexion</label>
                    <select type="text" name="ffcomplexion" class="form-control">
                        <option style="display:none;" value="{{profile.ffcomplexion}}">{{profile.ffcomplexion}}</option>
                        <option value="Very Fair">Very Fair</option>
                        <option value="Fair">Fair</option>
                        <option value="Medium">Medium</option>
                        <option value="Wheatish">Wheatish</option>
                        <option value="Dark">Dark</option>
                        <option value="Any">Any</option>
                    </select>

                    <label for="">Mother Tongue</label>
                    <select type="text" name="fflanguage" class="form-control">
                        <option style="display:none;" value="{{profile.fflanguage}}">{{profile.fflanguage}}</option>
                        <option value="Malayalam">Malayalam</option>
                        <option value="English">English</option>
                        <option value="Hindi">Hindi</option>
                        <option value="Tamil">Tamil</option>
                        <option value="Kannada">Kannada</option>
                        <option value="Telugu">Telugu</option>
                        <option value="Any">Any</option>
                    </select>

                    <label for="">Diet</label>
                    <select type="text" name="ffdiet" class="form-control">
                        <option style="display:none;" value="{{profile.ffdiet}}">{{profile.ffdiet}}</option>
                        <option value="Vegetarian">Vegetarian</option>
                        <option value="Non-Vegetarian">Non-Vegetarian</option>
                        <option value="Eggetarian">Eggetarian</option>
                        <option value="Vegan">Vegan</option>
                        <option value="Any">Any</option>
                    </select>

                    <label for="">Education</label>
                    <select type="text" name="ffEducation" class="form-control">
                        <option style="display:none;" value="{{profile.ffEducation}}">{{profile.ffEducation}}</option>
                        <option value="B.Tech">B.Tech</option>
                        <option value="M.Tech">M.Tech</option>
                        <option value="LLB">LLB</option>
                        <option value="LLM">LLM</option>
                        <option value="MBBS">MBBS</option>
                        <option value="MD">MD</option>
                        <option value="BDS">BDS</option>
                        <option value="MDS">MDS</option>
                        <option value="MCA">MCA</option>
                        <option value="B.Arch">B.Arch</option>
                        <option value="Phd">Phd</option>
                        <option value="B.pharm">B.pharm</option>
                        <option value="MSW">MSW</option>
                        <option value="B.com">B.com</option>
                        <option value="BA">BA</option>
                        <option value="BHMS">BHMS</option> 
                        <option value="Any">Any</option>  
                    </select>

                    <label for="">Job</label>
                    <select type="text" name="ffjob" class="form-control">
                        <option style="display:none;" value="{{profile.ffjob}}">{{profile.ffjob}}</option>
                        <option value="Chartered Accountant">Chartered Accountant</option>
                        <option value="Banking Professional">Banking Professional</option>
                        <option value="Business">Business</option>
                        <option value="Professor">Professor</option>
                        <option value="Scientist">Scientist</option>
                        <option value="Teacher">Teacher</option>
                        <option value="Pilot">Pilot</option>
                        <option value="Engineer">Engineer</option>
                        <option value="Lawyer">Lawyer</option>
                        <option value="Police">Police</option>
                        <option value="Dentist">Dentist</option>
                        <option value="Doctor">Doctor</option>
                        <option value="Journalist">Journalist</option>
                        <option value="Fashion Designer">Fashion Designer</option>
                        <option value="Data Analyst">Data Analyst</option>
                        <option value="Not Working">Not Working</option>
                        <option value="Any">Any</option>   
                    </select>

                     <label for="">Location</label>
                    <select type="text" name="fflocation" class="form-control">
                        <option style="display:none;" value="{{profile.fflocation}}">{{profile.fflocation}}</option>
                        <option value="Calicut">Calicut</option>
                        <option value="Thrissur">Thrissur</option>
                        <option value="Cochin">Cochin</option>
                        <option value="Trivandrum">Trivandrum</option>
                        <option value="Kottayam">Kottayam</option>
                        <option value="Wayanad">Wayanad</option>
                        <option value="Mumbai">Mumbai</option>
                        <option value="Culcutta">Culcutta</option>
                        <option value="Delhi">Delhi</option>
                        <option value="Bangalore">Bangalore</option>
                        <option value="Hyderabad">Hyderabad</option>
                        <option value="Dubai">Dubai</option>
                        <option value="UK">UK</option>
                        <option value="USA">USA</option>
                        <option value="Canada">Canada</option>
                        <option value="Austaralia">Austaralia</option> 
                        <option value="Any">Any</option>  
                    </select>

                    <label for="">Marital Status</label>
                    <select type="text" name="ffmarital" class="form-control">
                        <option style="display:none;" value="{{profile.ffmarital}}">{{profile.ffmarital}}</option>
                        <option value="Unmarried">Unmarried</option>
                        <option value="Divorced">Divorced</option>
                        <option value="Seperated">Seperated</option>
                        <option value="Widow">Widow</option> 
                        <option value="Any">Any</option> 
                    </select>

                    <label for="">Physical Status</label>
                    <select type="text" name="ffphysical" class="form-control" value="{{profile.ffphysical}}">
                        <option style="display:none;" value="{{profile.ffphysical}}">{{profile.ffphysical}}</option>
                        <option value="Normal">Normal</option>
                        <option value="Disabled">Disabled</option> 
                        <option value="Any">Any</option> 
                    </select>

                    <button type="submit" class="btn btn-success mt-4">Submit</button>
                    <br><br><br><br>

                </form>
            </div>
        </div>
    </div>
</section>

<script>
    function viewImage1(event){
        document.getElementById('imgView1').src= URL.createObjectURL(event.target.files[0])
    }

     function viewImage2(event){
        document.getElementById('imgView2').src= URL.createObjectURL(event.target.files[0])
    }

     function viewImage3(event){
        document.getElementById('imgView3').src= URL.createObjectURL(event.target.files[0])
    }
</script>