<section>

     <style>
        .geeks {
            width: 21 rem;
            height: 19 rem;
            overflow:visible;
            margin:auto;
        }
     
        .geeks img {
            width: 100%;
            transition: 0.5s all ease-in-out;
        }
     
        .geeks:hover img {
            transform: scale(1.5);
        }
    </style>


    <div class="container mt-4">
        <form action="" id="checkout-form">
            <div class="row">
                 <div class="col-md-4">
                   <br>
                    <div class="geeks">
                        <img style="width: 21rem; height: 19rem;" src="/profile-images/{{profile._id}}1.jpg" class="card-img-top" alt="...">
                    </div>
                   
                    <br>
                    <div class="row no-gutters">
                        <div class="col-md-6 geeks">
                        <img style="width: 10rem; height: 8rem;" src="/profile-images/{{profile._id}}2.jpg" class="card-img-top " alt="...">
                        </div>

                        <div class="col-md-6 geeks">
                        <img style="width: 10rem; height: 8rem;" src="/profile-images/{{profile._id}}3.jpg" class="card-img-top" alt="...">
                        </div>
                    </div>

                     
                </div> 

                <div class="col-md-4">
                    <div class="container mt-4 ml-5 checkout">
                        <hr>
                        <h6>Name: {{profile.Name}} </h6>
                        <hr>
                        <h6>Age: {{profile.age}} Years</h6>
                        <hr>
                        <h6>Date of Birth: {{profile.DOB}} </h6>
                        <hr>
                        <h6>Gender: {{profile.gender}} </h6>
                        <hr> 
                        <h6>Height: {{profile.height}} ft </h6>
                        <hr>
                        <h6>Weight: {{profile.weight}} kg </h6>
                        <hr> 
                        <h6>Complexion: {{profile.complexion}} </h6>
                        <hr>
                        <h6>Physical Status: {{profile.physical}} </h6>
                        <hr> 
                        <h6>Mother Tongue: {{profile.language}} </h6>
                        <hr>                        
                        </div>
                </div>

                        <div class="col-md-4">
                    <div class="container mt-4 ml-5 checkout">
                        
                        <hr>
                        <h6>Location: {{profile.location}} </h6>
                        <hr> 
                        <h6>Marital Status: {{profile.marital}} </h6>
                        <hr> 
                        <h6>Diet: {{profile.diet}} </h6>
                        <hr>
                        <h6>Religion: {{profile.religion}} </h6>
                        <hr> 
                        <h6>Caste: {{profile.caste}} </h6>
                        <hr>
                        <h6>Education: {{profile.Education}} </h6>
                        <hr> 
                        <h6>Job: {{profile.job}} </h6>
                        <hr>
                        <h6>Email: {{profile.email}} </h6>
                        <hr>
                        <h6>Mobile: {{profile.mobile}} </h6>
                        <hr>   
                          <a href="/send-intrest/{{profile._id}}" class="btn btn-primary mr-4">Send Interest</a>
                          <a href="/send-message/{{profile._id}}" class="btn btn-primary">Send Message</a>        
                         <br><br><br><br><br>
                        </div>

                    </div>

                    <h2 class="text-center col-md-12">Partner Preference</h2>
                    <br>
                    <div class="col-md-6">
                    <div class="container mt-5 ml-5 pr-5 pl-5 checkout">
                        
                        
                        <hr>
                         <h6>Age: {{profile.ffage1}} - {{profile.ffage2}} </h6>
                        <hr> 
                        <h6>Height: {{profile.ffheight1}} - {{profile.ffheight2}} </h6>
                        <hr> 
                        <h6>Religion: {{profile.ffreligion}} </h6>
                        <hr>
                        <h6>Caste: {{profile.ffcaste}} </h6>
                        <hr>
                        <h6>Complexion: {{profile.ffcomplexion}} </h6>
                        <hr>
                        <h6>Mother Tongue: {{profile.fflanguage}} </h6>
                        <hr>             
                         <br><br><br>
                        </div>

                    </div>

                     <div class="col-md-6">
                    <div class="container mt-5 ml-5 pr-5 pl-5 checkout">
                        <hr>
                        <h6>Diet: {{profile.ffdiet}} </h6>
                        <hr>
                        <h6>Education: {{profile.ffEducation}} </h6>
                        <hr> 
                        <h6>Job: {{profile.ffjob}} </h6>
                        <hr>
                        <h6>Location: {{profile.fflocation}} </h6>
                        <hr>
                        <h6>Marital Status: {{profile.ffmarital}} </h6>
                        <hr>
                        <h6>Physical Status: {{profile.ffphysical}} </h6>
                        <hr>           
                         <br><br><br>
                        </div>

                    </div>

                    
                </div>

                
            </div>

        </form>
    </div>
</section>

